<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galang Novi Anggara</title>
    <link rel="icon" href="assets/img/gna.png">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body >
{{>navIndex}}
<!-- main section -->
<main>
    <div class="container-bd">
        {{#each user_app}}
        <div class="main-hero">
            <div class="" style=" display: flex; align-items: center; gap: 90px;">
                <img class="main-img" src="../assets/uploads/{{this.image}}" alt="">
            </div>
            <div class="cont-1">
                <span style="display: flex; gap: 20px;">
                <h1>Hi I'm {{this.name}}</h1>
                <img class="hello-img" src="/assets/img/hello.png" alt="">
                </span>
                <p class="sub-title">{{this.profession}}</p>
                <br>
                <p class="profil-content">{{this.description}}</p>
                <a class="profil-content" href="{{this.link_location}}" style="text-decoration: none; color:inherit;">
                    <i class="bi bi-geo-alt"></i> {{this.location}}
                </a>
                <div>
                    <p class="profil-content">
                    <img src="assets/img/dot.png" alt="" style="width: 20px; height: 20px; margin-right: 10px;">available for new project
                    </p>
                </div>
                <br>
                <div style="display: flex; gap: 15px;">
                     <a href="https://wa.me/{{this.phone}}?text=Halo%20salam%20kenal">
                    <button type="button" class="btn btn-success" >
                        <img src="assets/img/whatsapp.png" alt="" style="width: 20px;height: 20px;"> Let's Talk
                    </button>
                </a>
                <a href="{{this.link_cv}}">
                    <button type="button" class="btn btn-dark">
                        <i class="bi bi-file-earmark-arrow-down"></i> Download CV
                    </button>
                </a>
                </div>
            </div>
        </div>
        {{/each}}
        <div style="overflow: hidden;">
        <div id="tech-stack" style="padding-top: 130px;">
            <h1>Tech Stack - Tools I Use Everyday</h1>
            <div class="container-scroll">
                <div class="container-techno" style="display: flex; justify-content: space-around; margin: 60px 0 60px 0;">
                    {{#each tech_icon}}
                    <div class="container-dp-techno" id="icon">
                        <div class="container-img">
                            <img src="../assets/uploads/{{this.icon_image}}" alt="" class="Techno">
                        </div>
                        <h10 class="techno-font">{{this.name}}</h10>
                    </div>
                    {{/each}}
                    {{#each tech_icon}}
                    <div class="container-dp-techno" id="icon">
                        <div class="container-img">
                            <img src="../assets/uploads/{{this.icon_image}}" alt="" class="Techno">
                        </div>
                        <h10 class="techno-font">{{this.name}}</h10>
                    </div>
                    {{/each}}
                </div>
            </div>         
        </div>
        </div>
        <div id="work-experience" class="container-work">
            <h1 style="margin-top: 100px; margin-bottom: 50px;" >Work Experience</h1>
            {{#each work_experience}}
            <div class="work-style" style="display: flex; border-radius: 7px; box-shadow:0.2px 0.2px 1px black; padding: 10px 20px 10px 20px; justify-content: space-between; margin-bottom: 20px;">
                <div class="container-imgtools" style="width: 100px;">
                <img src="../assets/uploads/{{this.image}}" alt="" style="width: 80px;">
                </div>
                <div style="width: 70%;">
                <h4 class="title-font" style="margin-bottom: 0;">{{this.position}}</h4>
                <p class="company-font" style="color: green;font-size: small;">{{this.company}}</p>
                <ul style="list-style: disc; ">
                    {{#each description}}
                    <li class="font-exp" style="margin-bottom:5px;">{{this}}</li>
                    {{/each}}
                </ul>
                <div style="display: flex; gap: 10px;">
                    {{#each tech}}
                    <p class="icn-experience">{{this}}</p>
                    {{/each}}
                </div>
                </div>
                <div> 
                <p class="font-exp">{{period}}</p> 
                </div>
            </div>
            {{/each}}
        </div>
        <div id="my-project" style="flex-wrap: wrap; padding-top: 200px;">
            <h1 style="margin-bottom: 50px; ">My Project</h1>
            <div style="display: flex; flex-wrap: wrap;">
            <div style="display: flex;justify-content: space-between; flex-wrap: wrap; gap:20px;">
                {{#if portofolio.length}}
                {{#each portofolio}}
                <div class="card">
                    <div class="card-frame-img">
                        <img src="../assets/uploads/{{this.image}}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title title-font">{{this.name}}</h5>
                        <div style="height: 100px; flex-wrap:wrap; display:flex; overflow:hidden; margin-top:10px;">
                            <p class="card-text font-card">{{this.description}}</p>
                        </div>
                        <div style="display: flex; gap: 10px;">
                            {{#each techno}}
                                <div style="display: flex; gap: 10px;">
                                    <p class="icn-experience">{{this}}</p>
                                </div>
                            {{/each}}
                        </div>
                        <div style="display:flex; gap:20px; height:40px">
                        {{#if git_url.length}}
                            <a class="font-card" href="{{git_url}}" style="text-decoration: none;">
                                <i class="bi bi-github" style="width: 5px;"></i> view on GitHub
                            </a>
                        {{else}}
                            <p class="font-card"><i class="bi bi-github " style="width: 5px;"></i> Private Repository</p>
                        {{/if}}
                        {{#if demo_url.length}}
                            <a class="font-card" href="{{demo_url}}" style="text-decoration: none; margin-left: 20px;">
                                <i class="bi bi-box-arrow-up-right" style="width: 5px;"></i> Live Demo
                            </a>
                        {{else}}
                            <p class="font-card"><i class="bi bi-box-arrow-up-right" style="width: 5px;"></i> Live Demo Unavailable</p>
                        {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <P>Tidak Ada Proyek</P>
                {{/if}}
            </div>
            </div>
        </div>
        {{#each user_app}}
        <div style="margin-top: 200px; margin-bottom: 100px;" id="about">
            <div style="display: grid; justify-content: center;">
                <h2 style="display: flex; justify-content: center;">Let's build something together</h2>
                <p>Feel free to reach out if you're looking for a developer, have a question, or just want to connect.</p>
                <div style="display: flex; justify-content: center;">
                    <div>
                        <p><i class="bi bi-envelope-open"></i> {{this.email}}</p>
                    </div>
                    <p style="margin-left: 20px; margin-right: 20px;">|</p>
                    <div>
                        <p style="color: green;">
                        <img src="assets/img/whatsapp.png" alt="" style="width: 20px;height: 20px; border-radius: 20px; background-color: green;"> {{this.link_wa}}  
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</main>
{{>footer}}
<!-- <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
<script src="/assets/JS/script.js"></script>
</body>
</html>